<!-- Пример за "view/about.html" -->
<div ng-controller="About_meController">
   
    <div class="contajner">
        <div class="text-center">
            <h1 class="naslov">{{pageTitle}}</h1> 
        </div>
        <div class="row">
    
            <div class="container">

                <div class="contajner">
                    <div class="text-center">
                        <h1>Contact With ME</h1>
                    </div>
                    <br>
                    <div class="row ">
                        <div class="col text-center">
                            <i class='fas fa-map-marked-alt' style='font-size:48px;color:#f49d2b'></i>
                            <h5>ADDRESS</h5>
                            <h2>Ohrid</h2>
                        </div>
                        <div class="col text-center pt-2">
                            <i class='fas fa-phone' style='font-size:40px; color:#f49d2b'></i>
                            <h5>PHONE</h5>
                            <h2>+389 78 334 750</h2>
                        </div>
                        <div class="col text-center">
                            <i class="far fa-envelope-open" style='font-size:48px;color:#f49d2b'></i>
                            <h5>EMAIL</h5>
                            <h2>pptarnovo1401@gmail.com</h2>
                        </div>
                    </div>
                
                
                    
                    <div class="container mt-3">
                        <div class="row">
                            
                            <div class="container mt-5 col-md-6 p-5">
                                <form action="/submit-form" method="post" novalidate="novalidate">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="1247">
                                        <input type="hidden" name="_wpcf7_version" value="5.0.5">
                                        <input type="hidden" name="_wpcf7_locale" value="en_US">
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1247-p453-o1">
                                        <input type="hidden" name="_wpcf7_container_post" value="453">
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="text-uppercase font-700 letter-spacing-3 mb-15 fz-14">Name <span
                                                        class="error">*</span></div>
                                                <div class="mb-30">
                                                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name"
                                                            value="" size="40" aria-required="true" aria-invalid="false"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="text-uppercase font-700 letter-spacing-3 mb-15 fz-14">Email Address <span
                                                        class="error">*</span></div>
                                                <div class="mb-30">
                                                    <span class="wpcf7-form-control-wrap your-email"><input type="email"
                                                            name="your-email" value="" size="40" aria-required="true"
                                                            aria-invalid="false"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="text-uppercase font-700 letter-spacing-3 mb-15 fz-14">Phone <span
                                                        class="error">*</span></div>
                                                <div class="mb-30">
                                                    <span class="wpcf7-form-control-wrap your-phone"><input type="number"
                                                            name="your-phone" value="" aria-required="true" aria-invalid="false"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="text-uppercase font-700 letter-spacing-3 mb-15 fz-14">Subject <span
                                                        class="error">*</span></div>
                                                <div class="mb-30">
                                                    <span class="wpcf7-form-control-wrap your-subject"><input type="text"
                                                            name="your-subject" value="" size="40" aria-required="true"
                                                            aria-invalid="false"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="text-uppercase font-700 letter-spacing-3 mb-15 fz-14">Your Message <span
                                                        class="error">*</span></div>
                                                <div class="mb-50">
                                                    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message"
                                                            cols="40" rows="4" aria-required="true"
                                                            aria-invalid="false"></textarea></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-0">
                                                    <input type="submit" value="Submit">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                                </form>
                            </div>
                        </div>
                    </div>
                
                </div>

                <div class="col text-center">
                    <div class="vc_column-inner vc_custom_1541716428064">
                        <div class="wpb_wrapper">
                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                <div class="wpb_wrapper">
                                   
                                        <iframe width="100%" height="750" frameborder="0" scrolling="no" marginheight="0"
                                        marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48095.002345223096!2d20.75076959097008!3d41.114052828221354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1350db6587ea6657%3A0xc46cfc65390bc9d3!2z0J7RhdGA0LjQtA!5e0!3m2!1sbg!2smk!4v1705094423847!5m2!1sbg!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <div class="col text-center">
                    <div class="container m-5">
                        <p><b>Closest landmarks</b></p>
                        <p>Port Ohrid __________________________________1.1 km</p>
                        <p>Museum Robev House _____________________1.4 km</p>
                        <p>Saint Sofia __________________________________1.5 km</p>
                        <p>Holy Mary Perybleptos Church _____________1.5 km</p>
                        <p>Icons Gallery ________________________________1.6 km</p>
                        <p>Upper Gate __________________________________1.6 km</p>
                        <p>Ancient Theatre of Ohrid ____________________1.7 km</p>
                        <p>Saint Pantelejmon ___________________________1.8 km</p>
                        <p>Early Christian Basilica _______________________1.8 km</p>
                        <p>Early Christian Basilica _______________________1.8 km</p>
                        <p>Saint Jovat at Kaneo _________________________2.0 km</p>
                        <br>
                        <p><b>Most popular landmarks</b></p>
                        <p>Bay of Bones ________________________________12.5 km</p>
                        <p>Nature Museum _____________________________13.9 km</p>
                        <p>Saint George Church ________________________13.9 km</p>
                        <p>Kalishta Monastery __________________________14.1 km</p>
                        <p>Remains of Via Egnatia ______________________14.9 km</p>
                        <p>Cave Church Archangel Michae _____________14.9 km</p>
                        <p><b>Closest airports</b></p>
                        <p>Ohrid Airport ________________________________10.0 km</p>
                        <p>Kastoria National Airport Aristotelis _________83.4 km</p>
                        <p>Tirana International Airport Mother Teresa___98.3 km</p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>


