
<!-- Пример за "view/logos.html" -->
<div ng-controller="logosController">
    <!-- Вашият HTML код за логоси -->
    <div class="container">
        <div class="row_1 text-center">
            <h1 class="naslov">{{pageTitle}}</h1>
            <div class="col">
                <div >
                    <img src="uploads/logo/so_pozadina/logo_1.png" class="slik" alt="">
                    <img src="uploads/logo/so_pozadina/logo_2.png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/so_pozadina/logo_4.png" class="slik" alt="">
                    <img src="uploads/logo/so_pozadina/logo_5.jpg" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/so_pozadina/logo_6.jpg" class="slik" alt="">
                    <img src="uploads/logo/so_pozadina/logo_7.jpg" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/so_pozadina/logo_8.png" class="slik" alt="">
                    <img src="uploads/logo/so_pozadina/logo_9.png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/so_pozadina/logo_10.jpg" class="slik" alt="">
                    <img src="uploads/logo/so_pozadina/logo_11.png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/so_pozadina/logo_12.jpg" class="slik" alt="">
                    <img src="uploads/logo/so_pozadina/logo6.1_page-0001.jpg" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/transparent/h&v_1.png" class="slik" alt="">
                    <img src="uploads/logo/transparent/lista.png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/transparent/logo1-1.png" class="slik" alt="">
                    <img src="uploads/logo/transparent/m_logo.png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/transparent/mlogo_.png" class="slik" alt="">
                    <img src="uploads/logo/piperkaa.png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/duplo A.png" class="slik" alt="">
                    <img src="uploads/logo/ogan.piperka.png" class="slik" alt="">
                </div>
            </div>
        </div>
        
    </div>
</div>
