<!-- Пример за "view/logos.html" -->
<div ng-controller="Logo_videoController">
   
</div>

<div class="container">
    <div class="t_m text-center">
        <h1 class="naslov">{{pageTitle}}</h1>
        <video controls loop id="myVideo">
            <source src="uploads/video_ppro/P-3D...mp4" class="vidi" type="video/mp4">
        </video>
        <video controls loop id="myVideo">
            <source src="uploads/video_ppro/style_3D.mp4" class="vidi" type="video/mp4">
        </video>
            <video controls loop id="myVideo">
                <source src="uploads/logo/video_logo/logo_H&V_1.mp4" class="vidi" type="video/mp4">
            </video>
            <video controls loop id="myVideo">
                <source src="uploads/logo/video_logo/Open.mp4" class="vidi" type="video/mp4">
            </video>
            <video controls loop id="myVideo">
                <source src="uploads/logo/video_logo/h&v vo krugovi2.mp4" class="vidi" type="video/mp4">
            </video>
            <video controls loop id="myVideo">
                <source src="uploads/logo/video_logo/PGP-ogan.mp4" class="vidi" type="video/mp4">
            </video>
       
    </div>
</div>