
<!-- Пример за "view/logos.html" -->
<div ng-controller="LogosController">
   
    <div class="container">
        <div class="row_1 text-center">
            <h1 class="naslov">{{pageTitle}}</h1>
            <div class="col">
                <div >
                    <img src="uploads/logo/so_pozadina/logo_1.png" class="slik" alt="">
                    <img src="uploads/logo/so_pozadina/logo_2.png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/so_pozadina/logo_4.png" class="slik" alt="">
                    <img src="uploads/logo/so_pozadina/logo_5.jpg" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/so_pozadina/logo_6.jpg" class="slik" alt="">
                    <img src="uploads/logo/so_pozadina/logo_7.jpg" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/so_pozadina/logo_8.png" class="slik" alt="">
                    <img src="uploads/logo/so_pozadina/logo_9.png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/so_pozadina/logo_10.jpg" class="slik" alt="">
                    <img src="uploads/logo/so_pozadina/logo_11.png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/so_pozadina/logo_12.jpg" class="slik" alt="">
                    <img src="uploads/logo/so_pozadina/logo6.1_page-0001.jpg" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/transparen/h&v_1.png" class="slik" alt="">
                    <img src="uploads/logo/transparen/lista.png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/transparen/logo__6.png" class="slik" alt="">
                    <img src="uploads/logo/transparen/logo_5.png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/transparen/logo_6_tran.png" class="slik" alt="">
                    <img src="uploads/logo/transparen/logo_CD...png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/transparen/logo1-1.png" class="slik" alt="">
                    <img src="uploads/logo/transparen/logo4.png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/transparen/m_logo.png" class="slik" alt="">
                    <img src="uploads/logo/transparen/mlog.png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/transparen/pgp.png" class="slik" alt="">
                    <img src="uploads/logo/transparen/ogan.piperka.png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/transparen/piperkaa.png" class="slik" alt="">
                    <img src="uploads/logo/transparen/duplo A.png" class="slik" alt="">
                </div>
                <div>
                    <img src="uploads/logo/transparen/fire.png" class="slik" alt="">
                    <img src="uploads/logo/transparen/ocean1.png" class="slik" alt="">
                </div>
            </div>
        </div>
        
    </div>
</div>
