<!-- Пример за "view/mobiles.html" -->
<div ng-controller="MobilesController">
    <!-- Вашият HTML код за логоси -->
    <div class="container">
        <div class="text-center">
            <h1 class="naslov">{{pageTitle}}</h1>
            

            <div>
                <img src="uploads/mobile/tel_4.png" class="slik" alt="">
                <img src="uploads/mobile/tel 7.png" class="slik" alt="">
            </div>
            <div>
                <img src="uploads/mobile/tel_2.png" class="slik" alt="">
                <img src="uploads/mobile/tel_1.png" class="slik" alt="">
            </div>
            <div>
                <img src="uploads/mobile/tel_3.png" class="slik" alt="">
                <img src="" class="slik" alt="">
            </div>
            <!-- <div>
                <img src="" class="slik" alt="">
                <img src="" class="slik" alt="">
            </div>
            <div>
                <img src="" class="slik" alt="">
                <img src="" class="slik" alt="">
            </div>
            <div>
                <img src="" class="slik" alt="">
                <img src="" class="slik" alt="">
            </div>
            <div>
                <img src="" class="slik" alt="">
                <img src="" class="slik" alt="">
            </div> -->
        </div>
    </div>
</div>

