<!-- Пример за "view/mockups.html" -->
<div ng-controller="MockupsController">
    <!-- Вашият HTML код за логоси -->
    <div class="container">
        <div class="text-center t_1">
            <h1 class="naslov">{{pageTitle}}</h1>

            <div>
                <img src="uploads/mockups/36.jpg" class="slik" alt="">
                <img src="uploads/mockups/mockup_2.png" class="slik" alt="">
            </div>
            <div>
                <img src="uploads/mockups/pattern_1.png" class="slik" alt="">
                <img src="uploads/mockups/pattern_2.png" class="slik" alt="">
            </div>
            <!-- <div>
                <img src="" class="slik" alt="">
                <img src="" class="slik" alt="">
            </div>
            <div>
                <img src="" class="slik" alt="">
                <img src="" class="slik" alt="">
            </div>
            <div>
                <img src="" class="slik" alt="">
                <img src="" class="slik" alt="">
            </div>
            <div>
                <img src="" class="slik" alt="">
                <img src="" class="slik" alt="">
            </div> -->
        </div>
       <br><br><br>
    
    </div>
</div>

