<!-- Пример за "view/pictures.html" -->
<div ng-controller="PicturesController">
    <!-- Вашият HTML код за логоси -->
    <h1 class="naslov">{{pageTitle}}</h1>
<div class="text-center">
    <div>
        <img src="uploads/sliki/03 Start.png" class="slik" alt="">
        <img src="uploads/sliki/sl_1.png" class="slik" alt="">
    </div>
    <div>
        <img src="uploads/sliki/sl_2.png" class="slik" alt="">
        <img src="uploads/sliki/sl_3.png" class="slik" alt="">
    </div>
    <div>
        <img src="uploads/sliki/sl_4.png" class="slik" alt="">
        <img src="uploads/sliki/sl_5.png" class="slik" alt="">
    </div>
    <div>
        <img src="uploads/sliki/sl_6.png" class="slik" alt="">
        <img src="uploads/sliki/sl_7.jpg" class="slik" alt="">
    </div>
    <div>
        <img src="uploads/sliki/sl_8.png" class="slik" alt="">
        <img src="uploads/sliki/sl_9.png" class="slik" alt="">
    </div>
    <div>
        <img src="uploads/sliki/sl_10.png" class="slik" alt="">
        <img src="uploads/sliki/sl_11.png" class="slik" alt="">
    </div>
    <div>
        <img src="uploads/sliki/sl_13.png" class="slik" alt="">
        <img src="uploads/sliki/sl_14.png" class="slik" alt="">
    </div>
    <div>
        <img src="uploads/sliki/sl_15.png" class="slik" alt="">
        <img src="uploads/sliki/dog&lion.png" class="slik" alt="">
    </div>
    <div>
        <img src="uploads/sliki/ocean.png" class="slik" alt="">
        <img src="uploads/sliki/zelka.png" class="slik" alt="">
    </div>
    <div>
        <img src="uploads/sliki/cveke.png" class="slik" alt="">
        <!-- <img src="" class="slik" alt=""> -->
    </div>
</div>
   

</div>


