<!-- Пример за "view/videoss.html" -->
<div ng-controller="VideosController" class="container" class=" text-center"><h2 class="naslov">{{pageTitle}}</h2>

    <div class="text-center">
        <video controls loop id="myVideo">
            <source src="uploads/video_ppro/hors_1.mp4" class="vidi" type="video/mp4">
        </video>
        <video controls loop id="myVideo">
            <source src="uploads/video_ppro/RETRO_TITLE_COMP_1.mp4" class="vidi" type="video/mp4">
        </video>
    </div>
    <div class="text-center">
        <video controls loop id="myVideo">
            <source src="uploads/video_ppro/vizitka_1.mp4" class="vidi" type="video/mp4">
        </video>
        <video controls loop id="myVideo">
            <source src="uploads/video_ppro/ohrid_1_1.mp4" class="vidi" type="video/mp4">
        </video>
    </div>
    
</div>




