<!-- Пример за "view/logos.html" -->
<div ng-controller="videosController" class="container" class=" text-center"><h2 class="naslov">{{pageTitle}}</h2>

    <div class="text-center">
        <video autoplay controls loop id="myVideo">
            <source src="uploads/video_ppro/1video.mp4" class="vidi" type="video/mp4">
        </video>
        <video autoplay controls loop id="myVideo">
            <source src="uploads/video_ppro/ngogrid.mp4" class="vidi" type="video/mp4">
        </video>
    </div>
    
</div>




