<!-- Пример за "view/web.html" -->
<div ng-controller="WebController">
    <!-- Вашият HTML код за логоси -->
    <div class="container text-center">
        <h1 class="naslov">{{pageTitle}}</h1>
    

        <div>
            <img src="uploads/web/About_Us.png" class="slik" alt="">
            <img src="uploads/web/Accommodation.png" class="slik" alt="">
        </div>
        <div>
            <img src="uploads/web/Activities.png" class="slik" alt="">
            <img src="uploads/web/Checkout.png" class="slik" alt="">
        </div>
        <div>
            <img src="uploads/web/Contact.png" class="slik" alt="">
            <img src="uploads/web/food_& _driks.png" class="slik" alt="">
        </div>
        <div>
            <img src="uploads/web/home 5.png" class="slik" alt="">
            <img src="uploads/web/home 6.png" class="slik" alt="">
        </div>
        <div>
            <img src="uploads/web/home 7.png" class="slik" alt="">
            <img src="uploads/web/home_1-slika1.png" class="slik" alt="">
        </div>
        <div>
            <img src="uploads/web/home.png" class="slik" alt="">
            <img src="uploads/web/Meetings.png" class="slik" alt="">
        </div>
        <div>
            <img src="uploads/web/Spa.png" class="slik" alt="">
            <!-- <img src="uploads/web/Meetings.png" class="slik" alt=""> -->
        </div>
       
</div>

</div>




 

